* {
    margin: 0;
    padding: 0px;
    font-family: 'Comfortaa', cursive;
    margin-right: 15px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    align-items: center;
    padding: 20px;
    background-color: black;  
}

hr {
    background-color: gray;
    width: 2000px;
    padding: 1px;
}

a {
    text-decoration: none;
    color: white;
}

.menu a {
    
    padding: 10px;    
    
}

header img {
    height: 50px;
}

.index {
    margin-top: 75px;
    text-align: center;
    background-size: contain;   
}

.bio {
    display: flex;
    align-items: center;
}

.bio p {
    text-align: justify;
}

.bio img {
    border-radius: 100%;
    padding: 10px;
}

#skills {
    display: inline-flex;
    padding: 20px;
    margin-left: 20px;
    width: 100%;
    height: 100%;
       
}

.skills {
    color: black;
    margin-left: px;
    padding: 10px;
}

#skills div {
    border: solid black 2px;
    padding: 25px;
    text-align: justify;
    height: 100%;
}

#skills img {
    display: inline-flex;
}

#projects {
    display: inline-flex;
    text-align: center;
    padding: 25px;
}

#projects a {
    color: black;
    padding: 0px;
    margin: 0px;
}

#contact {
    display: inline-flex;
    padding: 25px;
}

#contact a {
    color: black;
}
footer {
    background-color: rgb(235, 235, 235);
    padding: 25px;
    width: 100%;
    text-align: center;
}


.whatsapp {
    width: 70px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}